:root {
  --colorfull: #ff5a36;
  --schrift-heller: #7589a2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  color: #193251;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.body__large {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.body__small {
  font-size: 14px;
  line-height: 20px;
}

.headline__uppercase {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.headline {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.label {
  font-size: 12px;
  line-height: 16px;
}
