main > ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 21px;
}

main > ul > li {
  color: var(--schrift-heller);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: #e0e4e8 solid 1px;
  border-bottom: none;
  height: 58px;
  position: relative;
}

main > ul > li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
main > ul > li:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: #e0e4e8 solid 1px;
}

main > ul > li::after {
  content: "+";
  display: block;
  position: absolute;
  color: #193251;
  bottom: -15px;
  z-index: 99;
  left: 50%;
  margin-left: -10px;
  font-size: 30px;
  line-height: 100%;
}

main > ul > li:last-child::after {
  content: none;
}

.code-buddys__name1 {
  display: flex;
  flex-direction: column;
  border: solid 1px #e0e4e8;
  height: 58px;
  align-items: center;
  justify-content: center;
  color: var(--schrift-heller);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 20px;
}
.code-buddys__name2 {
  display: flex;
  flex-direction: column;
  border: solid 1px #e0e4e8;
  border-top: none;
  height: 58px;
  align-items: center;
  justify-content: center;
  color: var(--schrift-heller);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: #e0e4e8 solid 1px;
}

.code-buddys__svg--index {
  position: absolute;
  top: 125px;
  align-self: center;
}
