.main__journal .label {
  display: block;
  margin-bottom: 7px;
  margin-top: 7px;
}

.block .block_rate {
  display: flex;
  justify-content: space-between;
}

.star__inactive--fix {
  fill: #e0e4e8;
}

.star__active--fix {
  fill: #193251;
}

.block__inactive--fix {
  fill: #e0e4e8;
}

.block__active--fix {
  fill: #193251;
}

.btn__rate-today {
  background: var(--colorfull);
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  height: 48px;
  margin: 5px;
  padding: 12px 20px;
  width: 198px;
}

.btn__save {
  background: var(--colorfull);
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  height: 48px;
  margin: 5px;
  padding: 12px 20px;
  width: 198px;
}

.btn__center {
  text-align: center;
  margin-top: 50px;
}

.main__journal,
.headline {
  margin-top: 40px;
}

.main__journal textarea {
  border: 1px solid #e0e4e8;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.btn__group {
  display: flex;
  justify-content: center;
}

.btn__cancel {
  background: #e0e4e8;
  color: #193251;
  border: none;
  border-radius: 4px;
  display: inline-block;
  height: 48px;
  margin: 5px;
  padding: 12px 20px;
  width: 198px;
}

.star__inactive {
  fill: #e0e4e8;
}

.star__active {
  fill: #193251;
}

.block__inactive {
  fill: #e0e4e8;
}

.block__active {
  fill: #193251;
}

.flex__stars {
  display: flex;
}

.flex__rectangles {
  display: flex;
  justify-content: space-between;
}