.main__journal {
    margin: 30px;
}

.star__rating-dark {
    background: #193251;
}

.main__journal>div {
    margin: 20px;
}

.main__journal .label {
    display: block;
    margin-bottom: 7px;
}

.main__journal .square div {
    display: inline-block;
    background: #193251;
    border-radius: 4px;
    height: 22px;
    width: 22px;
}

.inactive {
    background: #E0E4E8;
}